body{
    text-align: center;
}
.thaught{
    background-color: crimson;
}
div{
    height:6px;
    width:300px;
    margin:8px auto;
    color:black;
}
h1{
    color:darkmagenta;
    font-size: 30px;
    font-family: monospace;
    text-shadow: 1px 2px #757575;
}
img{
    height:250px;
    width:300px;
}